<section class="totals dashboard-section">
  <div class="total text-center">
    <h4>Number of Members</h4>
    11,254
  </div>
  <div class="total text-center">
    <h4>Number of Subscribers</h4>
    22,2983
  </div>
</section>
<section class="member-info dashboard-section">
  <h4>Member Information</h4>
  <div class="sort-buttons">
    Sort By
    <button type="button" name="date">Date</button>
    <button type="button" name="alphabetical">Alphabetical</button>
    <button type="button" name="type">Type</button>
    <button type="button" name="location">Location</button>
  </div>

  <div class="member-table">
    <div class="thead">
      <div class="tr">
        <div class="th">Name</div>
        <div class="th">Email</div>
        <div class="th">Date</div>
        <div class="th">Type</div>
        <div class="th">City</div>
      </div>
    </div>
    <div class="tbody">
      <div class="tr">
        <div class="td">Derek</div>
        <div class="td">dereks@email.com</div>
        <div class="td">11/24/20</div>
        <div class="td">Owner</div>
        <div class="td">San Francisco</div>
      </div>
      <div class="tr">
        <div class="td">Claire</div>
        <div class="td">claires@email.com</div>
        <div class="td">11/23/20</div>
        <div class="td">Owner</div>
        <div class="td">San Francisco</div>
      </div>
      <div class="tr">
        <div class="td">Christy</div>
        <div class="td">christys@email.com</div>
        <div class="td">11/25/20</div>
        <div class="td">Owner</div>
        <div class="td">San Francisco</div>
      </div>
      <div class="tr">
        <div class="td">Chris</div>
        <div class="td">chris@email.com</div>
        <div class="td">11/10/20</div>
        <div class="td">Goer</div>
        <div class="td">Machu Picchu</div>
      </div>
    </div>
  </div>
</section>
<section class="graphs dashboard-section">
  <div class="graphs-controls hide">

  </div>
  <div class="graphs-container">
    <%- include("partials/graph", {number: 1}) %>
    <%- include("partials/graph", {number: 2}) %>
    <%- include("partials/graph", {number: 3}) %>
    <%- include("partials/graph", {number: 4}) %>
    <%- include("partials/graph", {number: 5}) %>
    <%- include("partials/graph", {number: 6}) %>

  </div>

</section>
